@import "src/assets/scss/common/colors";


.login {

  object-fit: contain;
  background-size: cover;
  width: 100%;
  height: 100vh;


  .input-wrapper {
    padding: 20px;
    margin-top: 14rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    color: black;
    .heading-sub {
      margin-bottom: -5px;
    }

    .heading-main {
      margin-bottom: 10px;
    }

    .lbl-login {
    }

    .input-login {
      border-radius: 5px;
      background-color: transparent !important;
      color: #262626;

    }

    .btn-login {
      width: 100%;
      padding: 15px;
      font-size: 18px;
      font-weight: 600;
      background-color: #0f0f0f;
      border: none !important;
    }

    .btn-social {
      background-color: white !important;
      border: #d4d4d4 1px solid;
      color: black;
      width: 120px;
    }
    .btn-social:hover {
//      background-color: #d6d3d1 !important;
      border: #9d9d9d 1px solid;
      box-shadow: rgba(52, 52, 52, 0.5) 0px 5px 15px 0px;
    }

    .lbl-createAccount {
      margin-top: 10px;
      text-align: center;
    }
    .lbl-registerNow{
      color: #2563eb !important;
      text-decoration: none;
    }
    .lbl-registerNow:hover{
      color: black !important;
      text-decoration: underline;
    }

  }
}

.userLogin{
  background-image: url('../../../assets/images/login-bg.jpg');
}

.adminLogin{
  background-image: url('../../../assets/images/registration-bg.jpg');
}


@media (max-width: 1025px){
  .login {
    background-image: url('../../../assets/images/login-bg.jpg');
    object-fit: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;


    .input-wrapper {
      padding: 20px;
      margin-top: 14rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      color: black;
      .heading-sub {
        margin-bottom: -5px;
      }

      .heading-main {
        margin-bottom: 10px;
      }

      .lbl-login {
      }

      .input-login {
        border-radius: 5px;
        background-color: transparent !important;
        color: #262626;

      }

      .btn-login {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
        background-color: #0f0f0f;
        border: none !important;
      }

      .btn-social {
        background-color: white !important;
        border: #d4d4d4 1px solid;
        color: black;
        width: 100%;
        margin: 5px 0;
      }
      .btn-social:hover {
        //      background-color: #d6d3d1 !important;
        border: #9d9d9d 1px solid;
        box-shadow: rgba(52, 52, 52, 0.5) 0px 5px 15px 0px;
      }

      .lbl-createAccount {
        margin-top: 10px;
        text-align: center;
      }
      .lbl-registerNow:hover{
        text-decoration: underline;
      }

    }
  }
}

@media (max-width: 769px) {
  .login {
    padding-left: 80px;
    padding-right: 80px;
    .input-wrapper {
      padding: 20px;

      .btn-social {
        width: 100%;
        margin-left: 20px;
      }
    }
  }
}


@media (max-width: 426px){
  .login {
    padding-left: 20px;
    padding-right: 20px;
    .input-wrapper {
      padding: 20px;

      .btn-login {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
        background-color: #0f0f0f;
        border: none !important;
      }

      .btn-social {
        width: 100%;
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 320px) {
  .login {
    padding-left: 20px;
    padding-right: 20px;
    .input-wrapper {
      padding: 20px;

      .btn-login {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
        background-color: #0f0f0f;
        border: none !important;
      }

      .btn-social {
        width: 100%;
        margin-left: 15px;
      }
    }
  }
}
